*{
    margin: 0vw;
    padding: 0vw;
}
a{
    color: transparent;
}
body{
    width:100%;
    height: 105vw;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
}
#textbar{
    width:100%;
    height: 4vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#butt
{
    padding-left: 45vw;
    padding-top: 0.25vw;
    background-color: transparent;
    border: none;
    outline: none;
    color:white;
    font-size: 1vw;
}
#text{
    color:white;
    font-size: 1vw;
}
.profile{
    width:7vw;
    height: 3vw;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#profile2{
    font-weight: bold;
    font-size: 1.2vw;
    background-color: transparent;
    outline: none;
    border: none;
}
#profile3{
    width:20vw;
    height: 15vw;
    background-color:skyblue;
    border-radius: 0.5vw;
    position: absolute;
    top:3vw;
    right: 3vw;
    display: none;
}
#logout{
    width:6vw;
    height: 2vw;
    background-color: blue;
    border-radius: 0.2vw;
    margin-top: 2vw;
    margin-left: 5vw;
    font-size: 1.2vw;
}
#user1,#mobile1,#email1{
    padding: 0.8vw;
    font-size: 1.4vw;
    font-weight: lighter;
}
.profile:hover #profile3{
    display: block;
}
#textbar1{
    width:100%;
    height:4vw;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    position: sticky;
    top:0vw;
    z-index: 10;
}
.textcol1{
    font-weight: bold;
}
.textcol2{
    font-weight: bold;
    font-size: 1.2vw;
    text-transform: uppercase;

}
.textcol1:hover{
    color:white;
    background-color: black;
}
.textcol{
    color: black;
    font-size: 1.2vw;
    cursor: pointer;
}
li{
    list-style-type: none;
    font-size: 1.2vw;
    font-weight: 1vw;
    color: black;
    padding: 1vw;
}
#subli{
    display: flex;
}
#subli{
    width:100%;
    height: 40vw;
    background-color: white;
    position: absolute;
    top:3.5vw;
    left:0vw;
    display: none;
}
#sublist1{
    position: absolute;
    top: 0vw;
    left:22vw;
}
#sublist2{
    position: absolute;
    top: 0vw;
    left:48vw;
}
#sublist3{
    position: absolute;
    top: 0vw;
    left:72vw;
}
#main:hover #subli{
    display: block;
}
#bird{
    font-size: 2.2vw;
    font-style: italic;
    padding-left: 14vw;
    padding-right: 9vw;
}
#A{
    background-color: blue;
    width:3vw;
    height: 3vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-a{
    font-size: 1.6vw;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
.fa-cart-shopping{
    color: black;
}
.fa-circle-question{
    color: black;
}
a{
    color: transparent;
}
#container{ 
    width: 100%; 
    height: 280vw; 
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
    align-content: space-evenly; 
    flex-wrap: wrap; 
    row-gap: 2.5vw; 
    column-gap: 2.5vw; 
} 
.containers{ 
    width:25vw; 
    height: 30vw; 
    background-color:aliceblue; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly; 
    /* position: absolute; */
    border-radius: 1vw; 
    box-shadow: 0.2vw 0.2vw 0.2vw black; 
} 
.images{ 
    width: 70%; 
    height: 50%; 
    padding-bottom: 1vw;
    box-shadow: 0.2vw 0.2vw 0.2vw black; 
    border-radius: 1vw; 
    transition: all 0.5s;
}
.images:hover{
    transform: translate(0.1vw);
    width: 10vw;
    border-radius: 0.5vw;
} 
.title
{
    font-size: 1.2vw;
    transition: all 0.5s;
}
.title:hover{
    transform: translate(-1vw);
    width: 13vw;
    border-radius: 0.5vw;
}

#divInside{ 
    width: 90%; 
    height: 25%; 
    /* background-color: red; */ 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    flex-direction: column; 
} 
 #PriceAndRatingDiv{
    width:80%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
.Rating,.prices{ 
    font-size: 1.2vw; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: bold; 
    padding-bottom: 1vw;
} 
.Rating{
    color: green;
}
#AddToCartDiv{ 
    width: 6vw; 
    height: 3vw; 
    font-size: 1vw;
    padding-bottom:1vw; 
} 
button {
    background-color: blue;
    color: #fff;
    padding-top: 1vw;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
}
#removeToCartDiv{
    width: 2vw;
    height: 2vw;
    margin-left:22vw ;
    font-size: 1vw;
    padding:0.2vw;
 }
 #price{
    width:100%;
    height: 18vw;
    background-color: antiquewhite;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
 }
